@import '../style/global.scss';
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    .header {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .section-wrap {
            width: 55%;
            display: flex;
            justify-content: center;
            section {
                display: flex;
                justify-content: center;
                flex-direction: column;
                .logo {
                    display: flex;
                    align-items: center;
                    margin-bottom: 40px;
                    img {
                        &:last-child {
                            position: relative;
                            top: -4px;
                            margin-left: 10px;
                        }
                    }
                }
                h1 {
                    margin-bottom: 24px;
                    @include h1(46px, 46px);
                }
                p {
                    width: 497px;
                    margin-bottom: 60px;
                    @include p(15px, 26px);
                }
                ul {
                    display: flex;
                    justify-content: flex-start;
                    li {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 178px;
                        height: 62px;
                        border: 1px solid $borderColor;
                        border-radius: 6px;
                        &:first-child {
                            margin-right: 14px;
                        }
                    }
                }
            }
        }
        .hero-wrap {
            width: 45%;
            height: 100vh;
            background-color: $bgColor;
        }
        .mouse {
            position: absolute;
            left: 50%;
            bottom: 20px;
        }
    }
    .primary {
        display: flex;
        justify-content: center;
        width: 1180px;
        padding: 200px 0 30px 0;
        section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            span {
                text-align: center;
                font-size: 18px;
                line-height: 18px;
                color: $blue;
                margin-left: -24px;
                @include fontMedium;
                &:before {
                    content: '';
                    display: inline-block;
                    width: 24px;
                    height: 3px;
                    background-color: $blue;
                    position: relative;
                    top: 20px;
                    left: 48px;
                    border-radius: 3px 3px 0 0;
                }
            }
            h2 {
                width: 640px;
                text-align: center;
                align-self: center;
                margin-bottom: 70px;
                margin-top: 36px;
                @include h2(36px, 54px);
            }
            .card-wrap {
                width: 1180px;
                display: flex;
                justify-content: space-between;
                .card {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    height: 420px;
                    width: 588px;
                    background-color: #f0f4fa;
                    .card-content {
                        img {
                            width: 120px;
                            height: 120px;
                            margin-bottom: 36px;
                        }
                        h3 {
                            margin-bottom: 22px;
                            @include h3(24px, 24px);
                        }
                        p {
                            width: 400px;
                            @include p(16px, 26px);
                        }
                    }
                }
            }
        }
    }
    .secondary {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 200px 0;
        .section-wrap {
            width: 1180px;
            .scene {
                .pic-flow {
                    position: relative;
                    top: -100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    align-self: center;
                    width: 96vw;
                    .column {
                        width: (96vw/6);
                        padding: 8px;
                        .pic {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            box-shadow: 0 12px 30px 0 hsla(222, 47%, 10%, 0.7);
                            overflow: hidden;
                            border-radius: 6px;
                            transition: $normalTs; // transition-delay: 0.1s;
                            &>img {
                                width: 100%;
                                border-radius: 6px;
                                transition: $normalTs;
                                transition-delay: 0.1s;
                            }
                        }
                        &:last-child {
                            margin-right: 0;
                        }
                        &:nth-of-type(1) {
                            position: relative;
                            top: -30px;
                            width: 70%;
                        }
                        &:nth-of-type(2) {
                            width: 80%;
                            .pic {
                                .pic-info {
                                    opacity: 0;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: space-between;
                                    height: 50%;
                                    width: 50%;
                                    position: absolute;
                                    transition: $normalTs;
                                    // margin-top: 0.6%;
                                    transition-delay: 0.15s;
                                    overflow: hidden;
                                    .cover-blue {
                                        position: absolute;
                                        width: 400px;
                                        height: 400px;
                                        top: -20px;
                                        background-color: #42C6E4;
                                        align-self: center;
                                        justify-self: center;
                                    }
                                    img {
                                        transform: scale(0.5);
                                        transition: $normalTs;
                                    }
                                    p {
                                        font-size: 40px;
                                        color: $bgColor !important;
                                        @include p(24px, 24px);
                                        transition: $normalTs;
                                        transform: translateY(6px);
                                    }
                                }
                                &:first-child {
                                    width: 100%;
                                    &:hover {
                                        .pic-info {
                                            opacity: 1;
                                            img {
                                                transform: scale(1);
                                            }
                                            p {
                                                transform: translateY(0);
                                            }
                                        } // &>img {
                                        //     opacity: 0.1;
                                        // }
                                    }
                                }
                                &:last-child {
                                    width: 85%;
                                    margin-top: 16px;
                                }
                            }
                        }
                        &:nth-of-type(3) {
                            width: 100%; // &::before {
                            //     content: "";
                            //     z-index: 0;
                            //     position: absolute;
                            //     right: 290px;
                            //     top: -43px;
                            //     display: block;
                            //     width: 300px;
                            //     height: 300px;
                            //     background-image: url(../assets/shop.jpg);
                            //     background-size: 100%;
                            //     background-repeat: repeat;
                            //     filter: blur(20px);
                            //     opacity: 0.6;
                            // }
                            // &::after {
                            //     content: "";
                            //     z-index: 0;
                            //     position: absolute;
                            //     right: 290px;
                            //     top: -43px;
                            //     display: block;
                            //     width: 200px;
                            //     height: 140px;
                            //     background-image: url(../assets/finance.jpg);
                            //     background-size: 100%;
                            //     background-repeat: repeat;
                            //     filter: blur(20px);
                            //     opacity: 0.6;
                            // }
                        }
                        &:nth-of-type(4) {
                            position: relative;
                            top: 80px;
                            width: 60%;
                        }
                        &:nth-of-type(5) {
                            width: 60%;
                        }
                    }
                }
            }
            section {
                margin-bottom: 160px;
                span {
                    text-align: center;
                    font-size: 18px;
                    line-height: 18px;
                    color: $blue;
                    margin-left: -24px;
                    @include fontMedium;
                    &:before {
                        content: '';
                        display: inline-block;
                        width: 24px;
                        height: 3px;
                        background-color: $blue;
                        position: relative;
                        top: 20px;
                        left: 48px;
                        border-radius: 3px 3px 0 0;
                    }
                }
                h2 {
                    margin-bottom: 40px;
                    margin-top: 36px;
                    @include h2(36px, 54px);
                }
                &>p {
                    width: 450px;
                    @include p(16px, 26px);
                }
                &:nth-of-type(1) {
                    span {
                        &::before {
                            left: 26px;
                        }
                    }
                    h2 {
                        width: 542px;
                    }
                }
                &:nth-of-type(2) {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end; // margin-bottom: 0;
                    span {
                        display: inline;
                        text-align: right;
                        &::before {
                            left: 107px;
                        }
                    }
                    h2 {
                        text-align: right;
                        width: 402px;
                    }
                }
                &:nth-of-type(3) {
                    margin-bottom: 0;
                    span {
                        &::before {
                            left: 26px;
                        }
                    }
                    h2 {
                        width: 542px;
                    }
                    p {
                        width: 532px;
                    }
                }
            }
        }
    }
    footer {
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: $dark;
        .footer-wrap {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            width: 1180px;
            padding: 40px 0 24px 0;
            .copyright-info {
                img {
                    margin-bottom: 32px;
                }
                p {
                    font-family: source-han-sans-simplified-c, sans-serif;
                    font-weight: 300;
                    font-style: normal;
                    width: 218px;
                    font-size: 12px;
                    line-height: 19px;
                    color: $textColor-2;
                    opacity: 0.8;
                }
            }
        }
        .info {
            width: 390px;
            ul {
                display: flex;
                justify-content: space-between;
                li {
                    margin-left: 22px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @include p(12px, 12px);
                    &:last-child {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        a {
                            margin-left: 8px;
                        }
                    }
                    a {
                        text-decoration-line: none;
                        transition: $normalTs;
                        @include p(13px, 13px);
                        &:hover {
                            color: $borderColor;
                            text-decoration-line: underline;
                        }
                    }
                }
            }
        }
    }
}

.main-dark {
    background-color: #1b2638;
    .secondary {
        transition: $normalTs;
        .section-wrap {
            section {
                h2 {
                    color: #b8c7e0 !important; // transition: $normalTs;
                    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
                }
                p {
                    color: $textColor-2 !important; // transition: $normalTs;
                    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
                }
            }
        }
    }
}