@import '../style/global.scss';
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    overflow: hidden;
    .nav {
        z-index: 1000000;
        position: fixed;
        top: -80px;
        width: 100vw;
        height: 60px;
        display: flex;
        justify-content: center;
        align-content: center;
        background-color: #ffffff;
        box-shadow: 0 1px 0 0 rgba(209, 214, 224, 0.6);
        transition: $normalTs;
        .nav_wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 1180px;
            .right-links {
                ul {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    li {
                        a {
                            text-decoration-line: none;
                            color: #5a6371;
                            margin-right: 24px;
                            transition: $normalTs;
                            @include p(14px, 14px);
                            &:hover {
                                color: $blue;
                            }
                        }
                        &:last-child {
                            a {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                height: 34px;
                                width: 88px;
                                border-radius: 3px;
                                color: #fff;
                                background: linear-gradient(180deg, #83caff 0%, #4c9aff 100%);
                                margin-right: 0;
                                &:hover {
                                    background-image: linear-gradient( -179deg, #73c2ff 3%, #3c81ff 100%);
                                }
                            }
                        }
                        &:nth-of-type(3) {
                            width: 1px;
                            height: 20px;
                            background-color: #d1d6e0;
                            margin: 0 30px 0 6px;
                        }
                    }
                }
            }
        }
    }
    .header {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        .section-wrap {
            width: 55%;
            display: flex;
            justify-content: center;
            section {
                z-index: 1000;
                display: flex;
                justify-content: center;
                flex-direction: column;
                .logo {
                    opacity: 0;
                    display: flex;
                    align-items: center;
                    margin-bottom: 40px;
                    animation: headerShow 0.8s ease forwards;
                    img {
                        &:last-child {
                            position: relative;
                            top: -4px;
                            margin-left: 10px;
                        }
                    }
                }
                h1 {
                    opacity: 0;
                    margin-bottom: 24px;
                    @include h1(46px, 46px);
                    animation: headerShow 0.8s ease forwards;
                    animation-delay: 0.3s;
                }
                p {
                    opacity: 0;
                    width: 497px;
                    margin-bottom: 60px;
                    @include p(15px, 26px);
                    animation: headerShow 0.8s ease forwards;
                    animation-delay: 0.6s;
                }
                ul {
                    opacity: 0;
                    display: flex;
                    justify-content: flex-start;
                    animation: headerShow 0.8s ease forwards;
                    animation-delay: 0.9s;
                    li {
                        a {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 62px;
                            border: 1px solid $borderColor;
                            border-radius: 6px;
                            padding: 0 20px;
                            background-color: #fff;
                            transition: $normalTs;
                            &:hover {
                                border-color: #fff;
                                box-shadow: 0 2px 8px rgba(186, 193, 206, 0.7);
                            }
                            &:active {
                                transform: scale(0.98);
                            }
                        }
                        &:first-child {
                            margin-right: 14px;
                        }
                    }
                }
                @keyframes headerShow {
                    0% {
                        opacity: 0;
                        transform: translateY(10px);
                    }
                    100% {
                        opacity: 1;
                    }
                }
            }
        }
        .hero-wrap {
            z-index: 100;
            position: relative;
            width: 45%;
            height: 100vh;
            $main-color: #f0f4fa;
            animation: bgShow 0.3s ease forwards;
            @keyframes bgShow {
                0% {
                    background-color: rgba(255, 255, 255, 1);
                }
                100% {
                    background-color: $bgColor;
                }
            }
            .iphonex {
                img {
                    height: calc(2436px / 2);
                    width: calc(1125px / 2);
                    border: 0;
                    background: #ddd;
                    pointer-events: none;
                }
                border: 2.1rem solid $main-color;
                display: inline-flex;
                border-radius: 7rem;
                box-shadow: rgb(164, 172, 189) 1.75rem 1.75rem 7rem,
                rgba(0, 0, 0, 0.1) 0 0 0.5rem;
                overflow: hidden;
                transform: translate(0) translate3d(0, 0, 0);
                transition: all 0.6s ease;
                will-change: transform;
                backface-visibility: hidden;
                perspective: 1000;
            } // disposition
            main {
                z-index: 1;
                height: 100vh; // background: $main-color;
            }
            section {
                display: flex;
                flex-direction: row-reverse;
                flex-wrap: nowrap;
                transform: scale(calc(1 / 2));
                transform-origin: -10% -10%;
                will-change: transform;
                backface-visibility: hidden;
                perspective: 1000;
                transform: translate3d(0, 0, 0);
            }
            .container {
                display: flex;
                flex-direction: column;
                transform: rotate(45deg) translate3d(0, 0, 0);
                transform-origin: 300% 100%;
                will-change: transform;
                backface-visibility: hidden;
                perspective: 1000;
                &:nth-of-type(2) {
                    transform-origin: 332% 103%;
                }
                .space {
                    margin-top: 140%;
                }
            }
            .iphonex {
                opacity: 0;
                animation: moving 1.2s ease forwards; // margin: 3rem 12rem;
                user-select: none;
                margin: 3rem 12rem;
            }
            @keyframes moving {
                0% {
                    opacity: 0; // margin: 6rem 16rem;
                }
                100% {
                    opacity: 1; // margin: 3rem 12rem;
                }
            }
        }
        .mouse {
            position: absolute;
            left: 50%;
            bottom: 20px;
        }
    }
    .primary {
        display: flex;
        justify-content: center;
        width: 1180px;
        padding: 200px 0 30px 0;
        section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            span {
                text-align: center;
                font-size: 18px;
                line-height: 18px;
                color: $blue;
                margin-left: -24px;
                @include fontMedium;
                &:before {
                    content: '';
                    display: inline-block;
                    width: 24px;
                    height: 3px;
                    background-color: $blue;
                    position: relative;
                    top: 20px;
                    left: 100px;
                    border-radius: 3px 3px 0 0;
                }
            }
            h2 {
                width: 640px;
                text-align: center;
                align-self: center;
                margin-bottom: 70px;
                margin-top: 36px;
                @include h2(36px, 54px);
            }
            .card-wrap {
                width: 1180px;
                display: flex;
                justify-content: space-between;
                .card {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    height: 420px;
                    width: 588px;
                    background-color: #f0f4fa;
                    .card-content {
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        img {
                            width: 160px;
                            height: 160px;
                            margin-bottom: 36px;
                        }
                        h3 {
                            margin-bottom: 22px;
                            @include h3(24px, 24px);
                        }
                        p {
                            width: 370px;
                            @include p(16px, 26px);
                            text-align: justify;
                        }
                    }
                }
            }
        }
    }
    .secondary {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 200px 0 0 0;
        margin-bottom: -60px;
        .section-wrap {
            width: 1180px;
            .scene {
                position: relative;
                .pic-flow {
                    z-index: 100;
                    position: relative;
                    top: -80px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    align-self: center;
                    width: 96vw;
                    .column {
                        width: (96vw/6);
                        padding: 8px;
                        .pic {
                            position: relative;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            box-shadow: 0 12px 30px 0 hsla(222, 47%, 10%, 0.7);
                            overflow: hidden;
                            border-radius: 6px;
                            transition: $normalTs; // transition-delay: 0.1s;
                            &>img {
                                width: 100%;
                                border-radius: 6px;
                                transition: $normalTs;
                                transition-delay: 0.1s;
                            }
                            .pic-info {
                                opacity: 0;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                position: absolute;
                                top: 0;
                                right: 0;
                                left: 0;
                                bottom: 0;
                                background: #0071ac;
                                transition: $normalTs; // margin-top: 0.6%;
                                transition-delay: 0.15s;
                                overflow: hidden;
                                .pic_info-wrap {
                                    display: flex;
                                    align-items: center;
                                    flex-direction: column;
                                    justify-content: center;
                                    width: 100%;
                                    height: 100%;
                                    img {
                                        opacity: 0;
                                        height: 36%;
                                        transform: scale(0.94);
                                        transition: $normalTs;
                                        margin-bottom: 8%;
                                    }
                                    p {
                                        opacity: 0;
                                        font-size: 40px;
                                        color: $bgColor !important;
                                        @include p(24px, 24px);
                                        transition: $normalTs;
                                        transform: scale(0.94);
                                    }
                                }
                            }
                            &:first-child,
                            &:last-child {
                                width: 100%;
                                &:hover {
                                    .pic-info {
                                        opacity: 1;
                                        background: rgba(66, 198, 228, 0.8);
                                        opacity: 1;
                                        transform: scale(1);
                                        img {
                                            opacity: 1;
                                            transform: scale(1);
                                        }
                                        p {
                                            opacity: 1;
                                            transform: scale(1);
                                        }
                                    }
                                }
                            }
                        }
                        &:last-child {
                            margin-right: 0;
                        }
                        &:nth-of-type(1) {
                            position: relative;
                            top: -30px;
                            width: 90%;
                        }
                        &:nth-of-type(2) {
                            width: 133%;
                            .pic {
                                &:last-child {
                                    width: 66%;
                                    margin-top: 16px;
                                }
                            }
                        }
                        &:nth-of-type(3) {
                            width: 113%;
                        }
                        &:nth-of-type(4) {
                            position: relative;
                            top: 100px;
                            width: 75%;
                        }
                        &:nth-of-type(5) {
                            width: 70%;
                        }
                    }
                }
                .pic-blur {
                    position: absolute;
                    z-index: 0;
                    top: 46%;
                    width: 100vw;
                    height: 600px;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: space-between;
                    align-self: center;
                    img {
                        position: relative;
                        height: 40%;
                        filter: blur(30px);
                        opacity: 0.9;
                        &:nth-of-type(1) {
                            width: 14%;
                            top: -10%;
                            left: -10%;
                        }
                        &:nth-of-type(2) {
                            width: 12%;
                            top: 10%;
                            left: 5%;
                            filter: blur(35px);
                        }
                        &:nth-of-type(3) {
                            width: 20%;
                            height: 30%;
                            left: -3%;
                            top: -20%;
                        }
                        &:nth-of-type(4) {
                            width: 14%;
                            height: 25%;
                            top: -20%;
                            right: -10%;
                        }
                    }
                }
            }
            section {
                margin-bottom: 160px;
                position: relative;
                top: 30px;
                &:first-child {
                    p {
                        margin-top: 40px;
                    }
                }
                .effect-app {
                    width: 50%;
                    position: absolute;
                    right: -60px;
                    top: -30px;
                    pointer-events: none;
                    .bg-dots {
                        position: relative;
                        top: 100px;
                        right: -32px;
                    }
                    .app {
                        z-index: 100;
                        opacity: 1;
                        position: absolute;
                    }
                    img {
                        position: relative;
                        right: -266px;
                        top: 20px;
                        width: 40%;
                        height: 470px;
                        padding: 14px;
                        background-color: #fff;
                        border-radius: 2rem;
                        box-shadow: 3px 10px 40px rgba(13, 20, 37, 0.6);
                        border-image: linear-gradient( to bottom, transparent, #fff 40%, #fff 60%, transparent) 1;
                        transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
                    }
                }
                span {
                    text-align: center;
                    font-size: 18px;
                    line-height: 18px;
                    color: $blue;
                    margin-left: -24px;
                    @include fontMedium;
                    &:before {
                        content: '';
                        display: inline-block;
                        width: 24px;
                        height: 3px;
                        background-color: $blue;
                        position: relative;
                        top: 20px;
                        left: 48px;
                        border-radius: 3px 3px 0 0;
                    }
                }
                h2 {
                    margin-bottom: 40px;
                    margin-top: 36px;
                    @include h2(36px, 54px);
                }
                &>p {
                    width: 550px;
                    @include p(16px, 26px);
                }
                &:nth-of-type(1) {
                    span {
                        &::before {
                            left: 26px;
                        }
                    }
                    h2 {
                        width: 542px;
                    }
                }
                &:nth-of-type(2) {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    position: relative;
                    top: 100px;
                    span {
                        display: inline;
                        text-align: right;
                        &::before {
                            left: 87px;
                        }
                    }
                    h2 {
                        text-align: right;
                        width: 402px;
                    }
                }
                &:nth-of-type(3) {
                    margin-bottom: 0;
                    span {
                        &::before {
                            left: 26px;
                        }
                    }
                    h2 {
                        width: 542px;
                    }
                    p {
                        width: 532px;
                    }
                }
            }
        }
        .contact {
            position: relative;
            .form-wrap {
                position: relative;
                top: -220px;
                width: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
                flex-direction: column;
            }
        }
    }
    footer {
        display: flex;
        justify-content: center;
        width: 100%;
        background-color: $dark;
        .footer-wrap {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            width: 1180px;
            padding: 40px 0 24px 0;
            .copyright-info {
                img {
                    margin-bottom: 32px;
                }
                p {
                    font-family: source-han-sans-simplified-c, sans-serif;
                    font-weight: 300;
                    font-style: normal;
                    width: 218px;
                    font-size: 12px;
                    line-height: 19px;
                    color: $textColor-3;
                    opacity: 0.4;
                }
            }
        }
        .info {
            width: 390px;
            ul {
                display: flex;
                justify-content: space-between;
                li {
                    margin-left: 22px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $textColor-3 !important;
                    opacity: 0.4;
                    @include p(12px, 12px);
                    &:last-child {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        a {
                            margin-left: 8px;
                        }
                    }
                    a {
                        text-decoration-line: none;
                        transition: $normalTs;
                        color: $textColor-3 !important;
                        @include p(13px, 13px);
                        &:hover {
                            opacity: 1 !important;
                            color: $textColor-3;
                            text-decoration-line: underline;
                        }
                    }
                }
            }
        }
    }
}

#bg1,
#bg2,
#bg3,
#bg4,
#bg5 {
    fill: rgba(239, 244, 250, 0.6);
}

#mail,
#phone,
#face,
#id,
#etc {
    fill: $textColor-2;
}

#all {
    path {
        fill: #DAEAFE;
    }
}

#iphone-1 {
    animation-delay: 0.6s;
}

#iphone-2 {
    animation-delay: 0.8s;
}

#iphone-3 {
    animation-delay: 0.65s;
}

#iphone-4 {
    animation-delay: 0.7s;
}

#iphone-5 {
    animation-delay: 0.6s;
}

.main-dark {
    background-color: #1b2638;
    svg {
        transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
        transition-delay: 0.3s;
    }
    .nav {
        background-color: #1b2638;
        box-shadow: 0 1px 0 0 rgba(209, 214, 224, 0.1);
        .nav_wrap {
            .nav-logo {
                #dot,
                #EGO,
                #TM {
                    fill: #fff;
                }
            }
            .right-links {
                ul {
                    li {
                        &:nth-of-type(3) {
                            opacity: 0.2;
                        }
                    }
                }
            }
        }
    }
    .primary {
        section {
            .card-wrap {
                .card {
                    background-color: #283548;
                    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
                    .card-content {
                        h3 {
                            color: #b8c7e0;
                            transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
                        }
                    }
                }
            }
        }
    }
    .secondary {
        transition: $normalTs;
        .section-wrap {
            #bg1,
            #bg2,
            #bg3,
            #bg4,
            #bg5 {
                fill: #243449 !important;
            }
            #mail,
            #phone,
            #face,
            #id,
            #etc {
                fill: #B8C7E0 !important;
            }
            #all {
                path {
                    fill: #243449;
                }
            }
            section {
                h2 {
                    color: $textColor-3 !important;
                    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
                }
                p {
                    color: #647898 !important;
                    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
                }
            }
            .effect {
                .effect-app {
                    .app {
                        .effect-img {
                            background-color: #283548;
                            box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.4), 3px 10px 40px rgba(13, 20, 37, 0.6);
                        }
                    }
                }
            }
        }
    }
}

.main-white-motion {
    .secondary {
        .section-wrap {
            .effect {
                .effect-app {
                    .app {
                        opacity: 1; // animation: appShow 1s ease forwards;
                    }
                }
            }
        }
    } // @keyframes appShow {
    //     0% {
    //         opacity: 0;
    //         transform: translateX(-20px) rotateX(10deg) rotateZ(12deg) rotateY(-9deg);
    //     }
    //     30% {
    //         opacity: 1;
    //     }
    //     50% {
    //         opacity: 1;
    //     }
    //     100% {
    //         opacity: 1;
    //         transform: rotateX(10deg) rotateZ(12deg) rotateY(-9deg);
    //     }
    // }
}

@media (max-height: 1010px) {
    #hero-section {
        transform: scale(0.5) !important;
        position: relative;
        top: -8%;
    }
}

@media (max-height: 2000px) {
    #hero-section {
        transform: scale(0.6);
        position: relative;
        top: -8%;
    }
}

@media (min-width: 1980px) {
    #hero-section {
        transform-origin: -80% -2%;
        transform: scale(0.7);
    }
}

@media (max-width: 1980px) {
    #hero-section {
        transform-origin: -10% -3%;
    }
}

@media (max-width: 1600px) {
    #hero-section {
        transform-origin: 20% -3%;
    }
}

@media (max-width: 1280px) {
    #hero-section {
        transform-origin: 50% -3%;
    }
}