@media screen and (max-width: 768px) {
    #main {

        @mixin h2 {
            font-size: 24px;
            line-height: 32px;
        }
        @mixin h3 {
            font-size: 20px;
            line-height: 20px;
        }
        @mixin p2 {
            font-size: 14px;
            line-height: 21px;
        }
        @mixin p($fontSize, $lineHeight) {
            color: #B8C7E0;
            font-size: $fontSize;
            line-height: $lineHeight;
            text-align: left;
            @include fontNormal;
        }
        @mixin fontNormal {
            font-family: source-han-sans-simplified-c, sans-serif;
            font-weight: 300;
            font-style: normal;
        }
        .nav {
            display: none;
        }

        .header {
            flex-direction: column;
            .section-wrap {
                width: 100%;
                order: 1;
                height: 60%;
                section {
                    // position: relative;
                    // top: -10px;
                    padding: 0 40px;
                }
                .logo {
                    margin-bottom: 12px;
                }
                h1 {
                    font-size: 32px;
                    margin-bottom: 12px;
                }
                p {
                    width: auto;
                    margin-bottom: 20px;
                    @include p2;
                }
                ul {
                    li {
                        a {
                            height: 46px;
                            border-radius: 4px;
                            padding: 0 12px;
                            svg {
                                width: auto;
                                height: 30px;
                            }
                        }
                    }
                }
            }
            .hero-wrap {
                order: -2;
                position: relative;
                width: 100%;
                height: 40%;
                bottom: 0;
                right: 0;
                overflow: hidden;
                main {
                    height: auto;
                    overflow: hidden;
                    section {
                        transform-origin: 10% -3%;
                        transform: scale(0.25) !important;
                    }
                }
            }
            .mouse {
                display: none;
            }
        }
        .primary {
            width: 100%;
            padding: 30px 0;
            section {
                width: 100%;
                h2,
                span {
                    width: auto;
                }
                h2 {
                    width: 90%;
                    @include h2;
                    margin-bottom: 40px;
                }
                .card-wrap {
                    width: auto;
                    flex-direction: column;
                    align-items: center;
                    .card {
                        width: 100%;
                        height: auto;
                        padding: 40px 0;
                        .card-content {
                            h3 {
                                @include h3;
                            }
                            p {
                                width: auto;
                                padding: 0 20px;
                                @include p2;
                            }
                        }
                        &:last-child {
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
        .secondary {
            padding: 60px 0 20px 0;
            .section-wrap {
                width: 100%;
                .effect {
                    padding: 0 20px;
                    h2 {
                        width: 90%;
                        @include h2;
                        margin-bottom: 400px;
                    }
                    p {
                        width: auto;
                        margin-top: 10px;
                        @include p2;
                    }
                    .effect-app {
                        width: 100%;
                        right: 0;
                        top: 140px;
                        .app {
                            img {
                                width: auto;
                                height: 300px;
                                left: 40vw;
                                top: 0;
                                padding: 10px;
                                border-radius: 1rem;
                            }
                        }
                        .bg-dots {
                            top: 30px;
                            svg {
                                width: 90%;
                            }
                        }
                    }
                    svg {
                        width: 100%;

                        #mail-bg {
                            fill: #1196FE;
                        }
                    }
                }
                .scene {
                    top: -80px;
                    padding: 0 20px;
                    margin-bottom: 0;
                    h2 {
                        width: 90%;
                        @include h2;
                        margin-bottom: 110px;
                    }
                    p {
                        width: auto;
                        margin-top: 10px;
                        @include p2;
                    }
                    .pic-flow {
                        flex-wrap: wrap;
                        .column {
                            width: 45%;
                            top: 0;
                            display: flex;
                            justify-content: center;
                            &:nth-of-type(1) {
                                flex-direction: column;
                                align-items: center;
                            }
                            &:nth-of-type(2) {
                                flex-direction: column;
                                align-items: center;
                            }
                            .pic {
                                width: 160px;
                                height: 100px;
                                overflow: hidden;
                                .pic_info-wrap {
                                    display: none;
                                }
                                img {
                                    width: 160px;
                                    height: 100px;
                                }
                                &:hover .pic-info {
                                    display: none;
                                }
                            }
                        }
                    }
                    .pic-blur {
                        display: none;
                    }
                }
                .contact {
                    top: -80px;
                    padding: 0 20px;
                    margin-bottom: 40px;
                    h2 {
                        width: 90%;
                        @include h2;
                        margin-bottom: 30px;
                    }
                    p {
                        width: auto;
                        margin-top: 10px;
                        margin-bottom: 60px;
                        @include p2;
                    }
                    .form-wrap {
                        position: relative;
                        top: 0;
                        .form {
                            width: 100%;
                        }
                        .text-field {
                            width: 100%;
                            input {
                                width: auto;
                            }
                        }
                    }
                .text-area {
                    width: 100%;
                    textarea {
                        width: auto;
                    }
                }
                    button {
                        width: 100%;
                    }
                }
            }
        }
    }
    .footer {
        width: 100% !important;
        flex-direction: column;
        .footer-wrap {
            width: 100% !important;
            flex-direction: column;
            justify-content: flex-start !important;
            align-items: flex-start !important;
            padding: 40px 20px 24px 20px !important;
            .copyright-info {
                width: 89vw !important;
                padding-bottom: 24px;
                margin-bottom: 24px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.12);
            }
            .info {
                width: 100% !important;
                ul {
                    width: 100%;
                    justify-content: flex-start !important;
                    flex-direction: column;
                    li {
                        margin: 0 0 8px 0 !important;
                        justify-content: flex-start !important;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 320px) {
    #main {
        .header {
            .section-wrap {
                transform: scale(0.8);
            }
        }
        .secondary {
            .section-wrap {

                .column {
                    width: 100% !important;
                    img {
                        width: 100% !important;
                        height: auto !important;
                    }
                }
                .pic {
                    width: 100% !important;
                    height: auto !important;
                }

            }
        }

    }
}