@media screen and (max-width: 425px) {
    #main {
        .menu-show {
            opacity: 1 !important;
            transform: scale(1) !important;
            ul {
                li {
                    opacity: 1 !important;
                    transition: all 0.5s ease-in !important;
                    transform: none !important;
          
                    &:nth-of-type(2) {
                        transition-delay: 0.1s !important;
                    }
                    &:nth-of-type(3) {
                        transition-delay: 0.25s !important
                    }
                    &:nth-of-type(4) {
                        transition-delay: 0.35s !important;
                    }
                }
            }
        }
        @mixin h2 {
            font-size: 24px;
            line-height: 32px;
        }
        @mixin h3 {
            font-size: 20px;
            line-height: 20px;
        }
        @mixin p2 {
            font-size: 14px;
            line-height: 21px;
        }
        @mixin p($fontSize, $lineHeight) {
            color: #B8C7E0;
            font-size: $fontSize;
            line-height: $lineHeight;
            text-align: left;
            @include fontNormal;
        }
        @mixin fontNormal {
            font-family: source-han-sans-simplified-c, sans-serif;
            font-weight: 300;
            font-style: normal;
        }
        .nav {
            display: none;
        }
        .mobile-menu {
            opacity: 0;
            top: -50px;
            z-index: 10000;
            display: flex;
            justify-content: center;
            position: fixed;
            width: 100%;
            height: 48px;
            background-color: #fff;
            box-shadow: 0 1px 0 0 rgba(209, 214, 224, 0.6);
            transition: all 0.4s ease;
            .menu-wrap {
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                width: 100%;
                height: 100%;
                padding: 0 20px;
                .menu-logo {
                    display: flex;
                    align-items: center;
                    width: 200px;
                    height: 100%;
                    img {
                        position: absolute;
                        &:first-child {
                            z-index: 2;
                        }
                        &:last-child {
                            z-index: 1;
                        }
                    }
                }
                .menu-icon {
                    cursor: pointer;
                    svg {
                        font-size: 28px;
                    }
                }
            }
            .menu-content {
                opacity: 0;
                z-index: 10000;
                position: fixed;
                top: 54px;
                width: 90%;
                height: auto;
                border-radius: 6px;
                background-color: #243449;
                display: flex;
                justify-content: space-between;
                box-shadow: 0 8px 24px 0 rgba(14, 21, 37, 0.7);
                transition: all 0.3s ease;
                transform: scale(0.95);
                perspective: 2000px;
                transform-origin: 100% 0;
                ul {
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    flex-direction: column;
                    width: 100%;
                    margin: 10px 20px;
                    li {
                        opacity: 0;
                        width: 100%;
                        padding: 20px 0;
                        border-bottom: 1px solid rgba(255, 255, 255, 0.1);

                        a {
                            text-decoration-line: none;
                            color: #5a6371;
                            transition: all 0.3s ease;
                            @include p(16px, 16px);
                            &:hover {
                                color: #4C9AFF;
                            }
                        }
                        &:last-child {
                            border: none;
                            a {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                height: 34px;
                                width: 100%;
                                border-radius: 3px;
                                color: #fff;
                                background: linear-gradient(180deg, #83caff 0%, #4c9aff 100%);
                            }
                        }
                    }
                }
            }
        }
        .header {
            flex-direction: column;
            .section-wrap {
                width: 100%;
                order: 1;
                height: 60%;
                section {
                    // position: relative;
                    // top: -10px;
                    padding: 0 40px;
                }
                .logo {
                    margin-bottom: 12px;
                }
                h1 {
                    font-size: 32px;
                    margin-bottom: 12px;
                }
                p {
                    width: auto;
                    margin-bottom: 20px;
                    @include p2;
                }
                ul {
                    li {
                        a {
                            height: 46px;
                            border-radius: 4px;
                            img {
                                width: 110%;
                                padding: 0 12px;
                            }
                        }
                    }
                }
            }
            .hero-wrap {
                order: -2;
                position: relative;
                width: 100%;
                height: 40%;
                bottom: 0;
                right: 0;
                overflow: hidden;
                main {
                    height: auto;
                    overflow: hidden;
                    section {
                        transform-origin: 10% -3%;
                        transform: scale(0.25) !important;
                    }
                }
            }
            .mouse {
                display: none;
            }
        }
        .primary {
            width: 100%;
            padding: 30px 0;
            section {
                width: 100%;
                h2,
                span {
                    width: auto;
                }
                h2 {
                    width: 90%;
                    @include h2;
                    margin-bottom: 40px;
                }
                .card-wrap {
                    width: auto;
                    flex-direction: column;
                    align-items: center;
                    .card {
                        width: 100%;
                        height: auto;
                        padding: 40px 0;
                        .card-content {
                            h3 {
                                @include h3;
                            }
                            p {
                                width: auto;
                                padding: 0 20px;
                                @include p2;
                            }
                        }
                        &:last-child {
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
        .secondary {
            padding: 60px 0 20px 0;
            .section-wrap {
                width: 100%;
                .effect {
                    padding: 0 20px;
                    h2 {
                        width: 90%;
                        @include h2;
                        margin-bottom: 400px;
                    }
                    p {
                        width: auto;
                        margin-top: 10px;
                        @include p2;
                    }
                    .effect-app {
                        width: 100%;
                        right: 0;
                        top: 140px;
                        .app {
                            img {
                                width: auto;
                                height: 300px;
                                right: -100px;
                                padding: 10px;
                                border-radius: 1rem;
                            }
                        }
                        .bg-dots {
                            top: 30px;
                            svg {
                                width: 90%;
                            }
                        }
                    }
                    svg {
                        width: 100%;
                    }
                }
                .scene {
                    top: -80px;
                    padding: 0 20px;
                    margin-bottom: 0;
                    h2 {
                        width: 90%;
                        @include h2;
                        margin-bottom: 110px;
                    }
                    p {
                        width: auto;
                        margin-top: 10px;
                        @include p2;
                    }
                    .pic-flow {
                        flex-wrap: wrap;
                        .column {
                            width: 45%;
                            top: 0;
                            display: flex;
                            justify-content: center;
                            &:nth-of-type(1) {
                                flex-direction: column;
                                align-items: center;
                            }
                            &:nth-of-type(2) {
                                flex-direction: column;
                                align-items: center;
                            }
                            .pic {
                                width: 160px;
                                height: 100px;
                                overflow: hidden;
                                .pic_info-wrap {
                                    display: none;
                                }
                                img {
                                    width: 160px;
                                    height: 100px;
                                }
                                &:hover .pic-info {
                                    display: none;
                                }
                            }
                        }
                    }
                    .pic-blur {
                        display: none;
                    }
                }
                .contact {
                    top: -80px;
                    padding: 0 20px;
                    margin-bottom: 40px;
                    h2 {
                        width: 90%;
                        @include h2;
                        margin-bottom: 30px;
                    }
                    p {
                        width: auto;
                        margin-top: 10px;
                        margin-bottom: 60px;
                        @include p2;
                    }
                    .form-wrap {
                        position: relative;
                        top: 0;
                        .text-field {
                            width: 100%;
                            input {
                                width: auto;
                            }
                        }
                    }
                    button {
                        width: 100%;
                    }
                }
            }
        }
    }
    footer {
        width: 100% !important;
        flex-direction: column;
        .footer-wrap {
            width: 100% !important;
            flex-direction: column;
            justify-content: flex-start !important;
            align-items: flex-start !important;
            padding: 40px 20px 24px 20px !important;
            .copyright-info {
                width: 89vw !important;
                padding-bottom: 24px;
                margin-bottom: 24px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.12);
            }
            .info {
                width: 100% !important;
                ul {
                    width: 100%;
                    justify-content: flex-start !important;
                    flex-direction: column;
                    li {
                        margin: 0 0 8px 0 !important;
                        justify-content: flex-start !important;
                    }
                }
            }
        }
    }
}